
body{
    margin:25px;
    max-width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header, footer{
    background-color: rgb(47, 255, 61);
    text-align: center;
    padding: 1px;
    border: 1px solid black;
    margin: 5px;
}

   
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(79, 212, 245);
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}


.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
   
}
article{
    background-color: beige;
    border: 1px solid black;
    padding: 30px;
    margin: 5px;
}

nav ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

}

nav li{
   
    font-size: 20px;
    background-color: rgba(46, 39, 39, 0.564);
    border: 2px solid rgb(46, 43, 43);
    border-radius: 3px;
    padding: 10px;
    margin: 25px;
}

.nav-a{
    
    color: white;
    text-decoration: none;
    
    
}

main{
    display: flex;
    justify-content: center;
}
aside{
    background-color:rgb(79, 212, 245);
    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 1px solid black;
    padding: 10px;
    margin: 15px;

    
}
table{
    max-width: 600px;
    background-color: beige;
    width: auto;
    border: 40px solid;
    margin: auto;
   
}


form{
    
    background-color: rgb(79, 212, 245);
    border:1px solid black;
    padding: 20px;
    margin: 20px;
}




